.input{
    margin: .5rem;
    max-width: 200px;
}
.forms{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

input{
    width: 50px
}

label{
    font-weight: bold;
    margin: .5rem;
}

.vbg-button{
    padding: .5rem;
    background-color: green;
    color: white;
    border-radius: 5px;
}
.button{
    padding: .5rem;
    background-color: red;
    color: white;
    border-radius: 5px;
}